<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--RabbitMQ Configuration Settings Start-->
    <add key="RabbitMqConnectionString" value="host=localhost;virtualHost=/;username=guest;password=guest;timeout=10" />
    <add key="ExchangeType" value="direct" />
    <add key="ErrorExchangeNamingConvention" value="ErrorExchange_" />
    <add key="ErrorQueueNamingConvention" value="Error_" />
    <add key="RetryInterval" value="1" />
    <add key="RetryCount" value="3" />
    <!--RabbitMQ Configuration Settings End-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  
</configuration>
