<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings>
    <!--RabbitMQ Configuration Settings Start-->
    <add key="ExchangeType" value="direct" />
    <add key="ErrorExchangeNamingConvention" value="ErrorExchange_" />
    <add key="ErrorQueueNamingConvention" value="Error_" />
    <add key="RetryInterval" value="1" />
    <add key="RetryCount" value="3" />    
    <add key="MaxThreads" value="10" />
    <add key="DebugMode" value="false" />
    
    <!--RabbitMQ Configuration Settings End-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0" />
      </dependentAssembly>
      
    </assemblyBinding>
  </runtime>

  <nlog>
    <targets>
      <target name="t1" type="File" fileName="c:\EasyBus.txt"/>
      <target name="t2" type="Console" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="t1,t2" />
    </rules>
  </nlog>
  
</configuration>
